*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
TestApp/.idea/
TestApp/project/plugins/project
TestAppproject/boot
TestApptarget/
TestApp/logs
TestApp/.cache
TestApp/.classpath
TestApp/.project
TestApp/.settings
TestApp/.ensime
TestApp/.ensime_cache
